 <div class="form-group">
    <label for="exampleInputEmail1">Código</label>
    <input type="text" class="form-control" ng-model="entidad.code" placeholder="Código" required/>
   
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="exampleInputPassword1">Nombres</label>
    <input type="text" class="form-control" ng-model="entidad.firstname" placeholder="Nombres" required/>
    </div>
    <div class="col-md-6">
      <label for="exampleInputPassword1">Apellidos</label>
    <input type="text" class="form-control" ng-model="entidad.lastname" placeholder="Apellidos" required/>
    </div>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleInputPassword1">Email</label>
    <input type="email" class="form-control" ng-model="entidad.usuario.email" placeholder="Email" required/>
  </div>
   <div class="form-group">
    <label for="exampleInputPassword1">Facultad</label>
    <select class="form-control" ng-model="entidad.facultad_id" ng-change="others.loadescuelas()" required>
      <option ng-repeat="item in others.facultades" ng-value="item.id" ng-selected="item.id==entidad.facultad_id">//item.name//</option>
    </select> 
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Escuela</label>
    <select class="form-control" ng-model="entidad.escuela_id" required>
      <option ng-repeat="item in others.escuelas" ng-value="item.id" ng-selected="item.id==entidad.escuela_id">//item.name//</option>
    </select> 
  </div>
  <div class="form-group">
    <label>Año de Ingreso</label>
    <input type="text" class="form-control" ng-model="entidad.yearinput" placeholder="año de ingreso" required/>
  </div>