 <div class="form-group">
    <label for="exampleInputEmail1">Facultad</label>
    <input type="text" class="form-control"  ng-model="others.facultad.name" ng-disabled="true" required/>
  </div>
 <div class="form-group">
    <label for="exampleInputEmail1">Código</label>
    <input type="text" class="form-control" ng-model="entidad.code" placeholder="Enter code" required/>
   
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Nombre</label>
    <input type="text" class="form-control" ng-model="entidad.name" placeholder="Enter name" required/>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Descripción</label>
    <textarea class="form-control" ng-model="entidad.description" placeholder="Enter name"></textarea>
  </div>
