<div id="page-wrapper">
      <!-- Header -->
          <div id="header">

              <!-- Inner -->
                  <div class="inner">
                      <header>
                          <h1><a href="#" id="logo">SISEVALDOC</a></h1>
                            <span class="byline">
                                      Bienvenido, ingresa su nombre de usuario para recuperar su contraseña
                                  </span>
                      </header>
                  </div>

              <!-- Nav -->
                 <nav id="nav" >
                      <ul id="menu">

                          <li><a href="#" title="Inicio">
                            <span class="fa fa-home"></span>
                            <span class="text">Inicio</span>
                          </a></li>

                          <li ng-repeat="group in groups" bn-log-dom-creation>
                            <a href="#//'login/'+group.url//" redirect="#login" title="//group.name//">
                              <span class="fa fa-graduation-cap" ng-if="group.id==1"></span>
                              <span class="fa fa-users" ng-if="group.id==2"></span>
                              <span class="fa fa-user"  ng-if="group.id==3"></span>

                              <span class="fa fa-user-secret" ng-if="group.id==4"></span>
                              <span class="text">//group.name//</span>

                            </a>
                          </li>

                      </ul>
                  </nav>

          </div>

      <!-- Main -->

<br/>
              <div class="container">
                  <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">

        <form >
<div class="form-group">
  <input type="text" ng-model="model.username" class="form-control" id="exampleInputEmail1" placeholder="Usuario">
</div>

<div class="alert alert-warning" role="alert" ng-show="showAlert" style="font-size:12px;padding:5px;">//message//</div>
<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="Recuperar()">Recuperar mi contraseña</button>
<h5 class="text-center">//message//</h5>

</form>
          <div>

          </div>
      </div>
      <div class="col-sm-4"></div>
   </div>
</div>

</div>
